fieldset {
    border: 1px solid $accent-color;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
form,
select {
    margin-bottom: $spacing;
}
.button,
button,
input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: $spacing/2;
    border: none;
    background: $background-secondary;
    color: $accent-color;
    cursor: pointer;
    text-align: center;
}
.button:hover,
button:hover,
input[type="submit"]:hover {
    background: lighten($background-secondary, 5%);
}

input,
textarea {
    padding: $spacing/2;
    border: none;
    background: $background-secondary;
    font-family: $body-font;
    color: $body-color;
    outline: none;
    &:focus {
        box-shadow: 0 0 2px 2px $accent-color;
    }
}
textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
}
[id="nav-below"] {
    margin: 0 0 $spacing;
    overflow: hidden;
    clear: both;
    .meta-nav {}

    @include breakpoint(medium) {
        .nav-previous {
            float: left;
        }
        .nav-next {
            float: right;
            text-align: right;
        }
    }
}
.more-link {}
.edit-link {}
.page-link,
.comment-navigation {
    margin: 0 0 $spacing;
    clear: both;
    font-weight: bold;
    a {
        padding: 0.4em 0.65em;
        background: $background-secondary;
    }
    a,
    span {
        margin-right: 0.5em;
    }
}
.paginated-comments-links {
    margin-top: $spacing;
}