// susy grids v1.0.8
$max-width: 1140px; // site maximum width
$total-columns: 12; // column grids
$gutter-width: 2em; // gutters between columns
$grid-padding: 1em; // grid outer padding
$show-grid-backgrounds: false; // show highlighted grid columns? true/false

// this is a more complex example, the content is full width with the sidebar appearing below the content.
// what makes this more complex is the #wrapper, #header and #footer are able to span 100% width of the full browser.
// this is ugly, but this serves as a quick example of how to keep the main outer divs full width.
// this could also be even easier by just injecting some divs, like inner wrappers, which I would probably do if I needed this style layout.

[id="header"] {
    background: $background-secondary;
}
[id="branding"],
[id="access"],
[id="main"],
[id="susidiary"] {
    @include container; // set susy grid container
    max-width: $max-width;
    margin: 0 auto !important;
}
[id="branding"] {
    padding-left: $grid-padding !important;
    padding-right: $grid-padding !important;
}
.hentry {
    margin-bottom: $spacing*3;

}
.entry-content {

    @include breakpoint(large) {
        @include span-columns(8, 12);
    }
}
.entry-utility {

    @include breakpoint(large) {
        @include span-columns(4 omega, 12);
    }
}
[id="comments-list"] {
    .children {

        @include breakpoint(medium) {
              @include pad(1,1);
        }
    }
}
[id="primary"] {

    @include breakpoint(medium) {
        @include span-columns(6, 12);
    }
}
[id="secondary"] {

    @include breakpoint(medium) {
        @include span-columns(6 omega, 12);
    }
}
[id="footer"] {
    background: $background-secondary;
}
[id="first"] {

    @include breakpoint(medium) {
        @include span-columns(6, 12);
    }
    @include breakpoint(large) {
        @include span-columns(3, 12);
    }
}
[id="second"] {

    @include breakpoint(medium) {
        @include span-columns(6 omega, 12);
    }
    @include breakpoint(large) {
        @include span-columns(3, 12);
    }
}
[id="third"] {

    @include breakpoint(medium) {
        @include span-columns(6, 12);
    }
    @include breakpoint(large) {
        @include span-columns(3, 12);
    }
}
[id="footer-widget"] {

    @include breakpoint(medium) {
        @include span-columns(6 omega, 12);
    }
    @include breakpoint(large) {
        @include span-columns(3 omega, 12);
    }
}
[id="siteinfo"] {
    max-width: $max-width;
    margin: 0 auto;
    padding-left: $grid-padding !important;
    padding-right: $grid-padding !important;
    clear: both;
}

// grouping common layout specific properties

[id="header"],
[id="main"],
#footer {
    margin-bottom: $spacing*2;
}

// grouping layout specific clearfixing
[id="header"],
[id="main"],
.hentry {
    @extend %clearfix;
}


// page templates
// ==========================================================================

// single page templates overrides
.page {
    .entry-content {

        @include breakpoint(large) {
            @include span-columns(12 omega, 12);
        }
    }
}

// fullwidth template overrides
.page-template-template-page-fullwidth-php {
    [id="container"] {

        @include breakpoint(large) {
            @include span-columns(12 omega, 12);
        }
    }
}

// attachments template overrides
.single-attachment {
    [id="container"] {
        @include span-columns(12 omega, 12);
    }
    [id="primary"],
    [id="secondary"],
    [id="respond"] {
        display: none;
    }
}